# Build files
**/*.mod
# FORD files
doc/
# RAW debugging
fort.*
# OGPF output script files
**/*.gp
# PyPlot allowed output files
**/*.eps
**/*.jpeg
**/*.jpg
**/*.pdf
**/*.pgf
**/*.png
**/*.ps
**/*.raw
**/*.rgba
**/*.svg
**/*.svgz
**/*.tif
**/*.tiff
**/*.py