project: HoneyTools
project_dir: src
output_dir: doc
media_dir: ./res
favicon: ./res/icon.png
project_github: https://github.com/QcmPlab/HoneyTools
summary: ![HoneyTools](|media|/logo.svg)<br/><br/>
         Honeycomb flakes, sheets, ribbons, whatever. Made easy.
author: Gabriele Bellomia
author_description: Ph.D. student at [SISSA](https://cm.sissa.it)
email: gbellomia@live.it
github: https://github.com/bellomia
display: public
         protected
         private
source: true
sort: permission
extra_mods: 
            assert_m: https://github.com/sourceryinstitute/assert#documentation-1
            pyplot_module: https://jacobwilliams.github.io/pyplot-fortran/
            ogpf: https://github.com/kookma/ogpf
graph: true

###### Honeycomb flakes, sheets, ribbons, whatever. Made easy.
-------
[![build](https://img.shields.io/github/actions/workflow/status/qcmplab/honeytools/build.yaml?logo=Fortran&style=flat-square)](https://github.com/qcmplab/HoneyTools/actions/workflows/build.yaml)
[![test](https://img.shields.io/github/actions/workflow/status/qcmplab/honeytools/test.yaml?label=test-suite&logo=Fortran&style=flat-square)](https://github.com/qcmplab/HoneyTools/actions/workflows/test.yaml)
[![docs](https://img.shields.io/github/actions/workflow/status/qcmplab/honeytools/docs.yaml?label=docs-gen&logo=Fortran&style=flat-square)](https://qcmplab.github.io/HoneyTools/)
[![codecov](https://img.shields.io/codecov/c/github/qcmplab/honeytools?label=coverage&logo=codecov&style=flat-square)](https://codecov.io/gh/qcmplab/honeytools)
[![codacy](https://img.shields.io/codacy/grade/dc72f36f44b74dcda8b942c9d9760d4f?logo=codacy&style=flat-square)](https://app.codacy.com/gh/QcmPlab/HoneyTools/dashboard?branch=master)
-------
API documentation. For examples of usage see the [project wiki](https://github.com/QcmPlab/HoneyTools/wiki). General info can be found on the [repository frontpage](https://github.com/QcmPlab/HoneyTools).